.box{
     background-color: #3498db;
     color: white;
     text-align: center;
     width: 250px;
     padding: 20px;
     border-radius: 10px;
     font-weight: bold;
}
.box1{
    background-color: #3498db;
     color: white;
     text-align: center;
     width: 500px;
     padding: 20px;
     border-radius: 10px;
     font-weight: bold;
}

.boxes{
    background-color: #cac4c4;
    display: flex;
     justify-content: center;
     flex-wrap: wrap;
     gap: 15px;
     border-radius: 5px;
    margin: 30px auto;
}
h1{
    color: #2c3e50;
}
u{
    color:#e74c3c;
}
body{
    margin: 0px;
    padding: 20px;
}
.navbar{
    background-color: #34495e;
    text-align: center;
    padding: 15px;
}
.a{
    color: white;
    text-decoration: none; 
}
.a:hover{
    color: #f39c12;
}
.box2{
    background-color: #3498db;
     color: white;
     text-align: center;
     width: 350px;
     padding: 15px;
     border-radius: 8px;
     font-weight: bold;
}

